<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <article>
                    <section>
                        <div class="card">
                            <img src="https://scontent.fcul1-1.fna.fbcdn.net/v/t31.18172-8/10012940_815791695115065_3862484295501819799_o.jpg?_nc_cat=109&ccb=1-4&_nc_sid=174925&_nc_eui2=AeGt5NhEZJSHwEO3bs6lg9ZxOixS7nTUVko6LFLudNRWSrEH3dkXP1rOADLB230DGpA&_nc_ohc=U-qjY4lw_WwAX8l0rV5&_nc_ht=scontent.fcul1-1.fna&oh=35d86a594cf125beb7b2ae78ba6859f6&oe=6137D7D3"
                                class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-tittle">Jose Luis Hernandez</h5>
                                <h6>Mae</h6>
                                <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                                    a la imprenta) desconocido usó una galería de textos</p>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <section>
                        <div class="card">
                            <img src="https://scontent.fcul1-1.fna.fbcdn.net/v/t1.6435-9/44603314_10155750463752109_1980928282299727872_n.jpg?_nc_cat=105&ccb=1-4&_nc_sid=174925&_nc_eui2=AeEdtHEI7aIJy1c6fUsN5ZHDU7HzhXjtp7RTsfOFeO2ntPYqo-DwqeWEtgCmf8hlkp4&_nc_ohc=IXr-futU4W4AX8rIFU-&_nc_ht=scontent.fcul1-1.fna&oh=cb87c256742cd7b237ef3940469bf5ae&oe=613B40D6"
                                class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-tittle">Jesus Payan</h5>
                                <h6>El Profe</h6>
                                <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                                    a la imprenta) desconocido usó una galería de textos</p>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <section>
                        <div class="card">
                            <img src="https://scontent.fcul1-1.fna.fbcdn.net/v/t1.6435-9/127228558_10224581579506818_7752807828097985345_n.jpg?_nc_cat=102&ccb=1-4&_nc_sid=730e14&_nc_eui2=AeEjjoMXRgNCNlUYKnNbq7IO_o1l3dFF9Yf-jWXd0UX1hyHYOEzZrRMW4wpAEac12hg&_nc_ohc=zN0sH_tDZw4AX_Ahhe3&_nc_ht=scontent.fcul1-1.fna&oh=c579b2700910f7142660f84a78c90733&oe=613A1AF3"
                                class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-tittle">Esteban Manjarrez</h5>
                                <h6>Esteban</h6>
                                <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                                    a la imprenta) desconocido usó una galería de textos</p>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
        <br>
        <!--section melito angel and edy -->
        <div class="row">
            <div class="col-md-4">
                <article>
                    <section>
                        <div class="card">
                            <img src="https://scontent.fcul1-1.fna.fbcdn.net/v/t1.6435-9/75349016_2512040925549201_9130607941626363904_n.jpg?_nc_cat=106&ccb=1-4&_nc_sid=8bfeb9&_nc_eui2=AeHvseMeLItX48gamIaFZaYj7w7YuO_2-Z_vDti47_b5n3uHOVQE4UegIQv1AWAMXgw&_nc_ohc=QZhF6Tow6sQAX-EqSKM&tn=4nrnQ-ueq-47Uzg6&_nc_ht=scontent.fcul1-1.fna&oh=2f69a4099d7614dd7004d786e5d16392&oe=613BE928"
                                class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-tittle">Juan manuel</h5>
                                <h6>Melito</h6>
                                <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                                    a la imprenta) desconocido usó una galería de textos</p>
                            </div>
                        </div>
                    </section>
                </article>

            </div>
            <div class="col-md-4">
                <article>
                    <section>
                        <div class="card">
                            <img src="https://scontent.fcul1-1.fna.fbcdn.net/v/t31.18172-8/10012940_815791695115065_3862484295501819799_o.jpg?_nc_cat=109&ccb=1-4&_nc_sid=174925&_nc_eui2=AeGt5NhEZJSHwEO3bs6lg9ZxOixS7nTUVko6LFLudNRWSrEH3dkXP1rOADLB230DGpA&_nc_ohc=U-qjY4lw_WwAX8l0rV5&_nc_ht=scontent.fcul1-1.fna&oh=35d86a594cf125beb7b2ae78ba6859f6&oe=6137D7D3"
                                class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-tittle">Angel Canceco</h5>
                                <h6>Angelito</h6>
                                <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                                    a la imprenta) desconocido usó una galería de textos</p>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
            <div class="col-md-4">
                <article>
                    <section>
                        <div class="card">
                            <img src="https://scontent.fcul1-1.fna.fbcdn.net/v/t1.6435-9/222664495_5904624796246540_3283253173107276632_n.jpg?_nc_cat=104&ccb=1-4&_nc_sid=8bfeb9&_nc_eui2=AeEHCJIWBAOdTpkxgu62o0ulSkjwCa2CNH5KSPAJrYI0ftsIqxhx9DmLkN5mvbqbecQ&_nc_ohc=UvT0A_9y-AcAX8RkqDe&_nc_ht=scontent.fcul1-1.fna&oh=992de86787b1c956b1b6b941b42e727a&oe=6138EA05"
                                class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-tittle">Eduardo Gutierrez</h5>
                                <h6>Eddy</h6>
                                <p class="card-text">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica
                                    a la imprenta) desconocido usó una galería de textos</p>
                            </div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>