<header>
    <nav class="navbar navbar-expand-lg" id="topnavbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Biografia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Banda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Discografia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                    </li>


                    <!--  -->

                    <!--  -->
                </ul>
                <ul class="navbar-nav" id="social-networks">
                    <li class="nav-item">

                        <a class="navbar-brand" href="www.youtube.com/hdezjoseluis"><i class="fab fa-youtube"></i></a> <a class="navbar-brand" href="https://www.facebook.com/Joseluishdez506"><i class="fab fa-facebook-f"></i></a>
                        <a class="navbar-brand" href="https://www.instagram.com/hdezjoseluis/?hl=es"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>




            </div>
        </div>
    </nav>
</header>
<footer>



    <nav class="navbar navbar-expand-lg fixed-bottom " id="copyrights">

        Copyright &Payan 2021;

    </nav>
</footer>