.header-home {
    text-align: center;
    color: white;
    letter-spacing: 3px;
    text-shadow: 2px 2px 15px black;
}

.content-home {
    letter-spacing: 5px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 15px gray;
}